@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');

/** @format */

$primary: #31d35c;
$secondary: #21bde4;
$dark:#2d314d;
$background:#ffffff;
$text-color: #7e808b;
$public-Sans: 'Public Sans',sans-serif;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family:$public-Sans;
}

.navbar-toggler {
    border:none;
}

.hero-button,
.nav-button {
    background: linear-gradient(to right, $primary, $secondary);
}

.hero {
    background:url(../images/bg-intro-mobile.svg) center/120% no-repeat;
    background-position-y: 0.5rem;
    height:100vh;
}

.hero-header {
    font-size:2rem;
}

.hero-text {
    color:$text-color;
}

.service-first-text {
    font-size:1.8rem;
}

.service-second-text {
    font-size:1rem;
    color:$text-color;
}

.service-second-text br {
    display:none;
}

.service-image {
    width:4rem;
    height:4rem;
}

.service-header {
    font-size:1.5rem;
}

.service-text {
    font-size:0.9rem;
    color:$text-color;
}

.article-heading {
    font-size:1.8rem;
}

.article-image {
    width:100%;
    height:100%;
}

.author {
    font-size:0.8rem;
    color:$text-color;
}

.article-header {
    font-size:1rem;
}

.article-text {
    font-size:0.9rem;
    color:$text-color;
}

@media screen and (min-width:768px) {
    // make card accomodate fullscreen
    .article-card {
        width:47%;
    }
}