/** @format */

$primary: #31d35c;
$secondary: #21bde4;
$dark:#2d314d;
$background:#ffffff;
$text-color: rgb(150, 152, 166);

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: var(--Public-Sans);
}